/* You can add global styles to this file, and also import other style files */
@import './assets/reset.scss';


body {
    font-family: 'Noto Sans', sans-serif;
}


ul.nav {
    background-color: #293955;

    list-style: none;
    height: 30px;

    li {
        position: relative;
        bottom: -10px;

        padding-left: 10px;
        padding-right: 10px;

        height: 20px;
        display: inline-block;
        background-color: #364e6f;

        &.active {
            background-color: #4d6082;
        }

        a {
            font-size: 13px;
            color: white;
            font-weight: bold;
            text-decoration: none;
        }


        .pane {

        }
    }
}


@import './assets/json-tree-view.scss';