

<div class="fsm_main">
    <split direction="vertical">
        <split-area size="60">
            <tabs>
                <tab title="States">
                    <app-fsm-overview></app-fsm-overview>
                </tab>
                <tab title="Graph">
                    <p>Some day, the graph</p>
                </tab>
            </tabs>
            
        </split-area>
        <split-area size="40">
            <app-events></app-events>
        </split-area>
    </split>
</div>



