
<div class="fsm_overview">
  <ng-container *ngFor="let fsm of fsmState.fsmInfo">
    <h1>Fsm {{fsm.name}}</h1>

    <p>
      Current state: 
      
      (
      <ng-container *ngFor="let region of fsm.regions; let isLast=last">
        {{fsmState.regionActiveState(fsm.name, region.region_name)}}{{isLast ? '' : ', '}}
      </ng-container>
      )
    </p>

    <h2>Context</h2>
    
    <div class="data">
      <app-json-inspect [data]="getContextData(fsm.name)"></app-json-inspect>
    </div>

    <ng-container *ngFor="let region of fsm.regions">

      <h2>Region {{region.region_name}}</h2>

      <ng-container *ngFor="let state of region.states">

        <div class="fsm_state"
          [ngClass]="{'active': fsmState.regionActiveState(fsm.name, region.region_name) == state.state_name }"
        >
          <div class="name">{{state.state_name}}</div>
          
          <div class="data">
              <app-json-inspect [data]="getStateData(fsm.name, state.state_name)"></app-json-inspect>
          </div>
        </div>

      </ng-container>

    </ng-container>

  </ng-container>
</div>
