<div class="events panel">
  <div class="title">Events ({{fsm.getEventCount()}})</div>
  <div class="contents">

    <table id="events_table">

      <thead>
        <tr>
          <td class="column_id">#</td>
          <td class="column_type">Type</td>
          <td class="column_message">Message</td>
        </tr>
      </thead>
      
      <!-- 
      <tbody #eventsTableBody>
        <ng-container *ngFor="let ev of displayEventsList; trackBy: trackByEvent">
            <ng-container displayEvent="ev"></ng-container>
        </ng-container>
      </tbody>
    -->
      <tbody #eventsTableBody>
        <ng-container *ngFor="let event of displayEventsList; trackBy: trackByEvent">
            <ng-container [ngSwitch]="event.constructor.name">
                <ng-container *ngSwitchCase="'SingleEvent'">
                  <tr>
                    <ng-container [ngSwitch]="event.event.constructor.name">
                        
                          <td class="column_id">{{event.event.id}}</td>
                        
                          <ng-container *ngSwitchCase="'FsmEventStateTransitionStart'">
                            <td class="column_type">Transition Starting</td>
                            <td class="column_message">From
                              <b>{{event.event.from}}</b> to
                              <b>{{event.event.to}}</b>. Transition id: {{event.event.transitionId | json}}</td>
                          </ng-container>
                        
                          <ng-container *ngSwitchCase="'FsmEventStateTransitioned'">
                            <td class="column_type">Transition Finished</td>
                            <td class="column_message">From
                              <b>{{event.event.from}}</b> to
                              <b>{{event.event.to}}</b>
                            </td>
                          </ng-container>
                        
                          <ng-container *ngSwitchCase="'FsmEventActionExecuted'">
                            <td class="column_type">Action</td>
                            <td class="column_message">Executed
                              <b>{{event.event.action}}</b>
                            </td>
                          </ng-container>
                        
                          <ng-container *ngSwitchCase="'FsmEventProcessingEvent'">
                            <td class="column_type">Event</td>
                            <td class="column_message">Started processing event
                              <b>{{event.event.eventKind}}</b>
                        
                              <ng-container *ngIf="event.event.eventData != null">
                                <pre>{{event.event.eventData | json}}</pre>
                              </ng-container>
                            </td>
                          </ng-container>
                        
                          <ng-container *ngSwitchCase="'FsmEventState'">
                        
                            <td class="column_type" *ngIf="event.event.stateEventKind=='Enter'">Enter State</td>
                            <td class="column_type" *ngIf="event.event.stateEventKind=='Exit'">Exit State</td>
                        
                            <td class="column_message">State
                              <b>{{event.event.stateName}}</b>
                            </td>
                          </ng-container>
                        
                          <ng-container *ngSwitchCase="'FsmEventAction'">
                            <td class="column_type">Action</td>
                            <td class="column_message">Executed action
                              <b>{{event.event.actionName}}</b>
                            </td>
                          </ng-container>
                        
                        </ng-container>
                      </tr>
                </ng-container>
            </ng-container>
            
        </ng-container>
      </tbody>



    </table>

  </div>
</div>
